.background {
	
	background-color:#f0efed;
	overflow-x: hidden;
	
}

@media screen and (min-width: 320px) {
	
	
/*
.background {
	background:url(../img/1280.jpg)  no-repeat left top;
	background-color:#f0efed;
	overflow-x: hidden;
	
}*/

/*.center
			{
			width:300px; 
			height:512px;
		    margin:0 0 0 0px;
			border:1px solid #000;
			position:relative; 
			
			} */   /* bug BB */
			
.top{
	
	width:310px; 
	height:100px; 
    margin:0 0 0 0px;
    position:relative; 
					
}
.logo{
	
			width:280px;
			height:70px; 
			margin:0 0 0 30px; 
			position:relative; 
			float:left;
			font: 54px 'CalligraffitiRegular', Helvetica, Helvetica Neue, Arial, sans-serif;
			
}

.logo a:link, a:visited,a:hover, a:active {

text-decoration: none;
color:#9dcb3a;

}


			
			
	.menu{
    width: 320px;
	margin:0 0 0 0px;
    background-color: #9dcb3a; }
	
	.menu ul{
    margin: 0; padding: 0;
    float: left;}
 
	.menu ul li{
    display: inline;}
 
	.menu ul li a{
    float: left; text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #9dcb3a; }
 
	.menu ul li a:visited{
    color: white;}
 
	.menu ul li a:hover, .menu ul li .current{
    color: #fff;
    background-color:#7faa21;}

	
	.myself {
	
	
	float:left;
	width:310px;
	min-height:400px;
	margin:30px 0 0 0;
	
	
}
.cartoon {
	
	width:200px;
	height:300px;
	display:none;
	
	
}

.personal-info {
	
float:left;
width:300px;
height:440px;
margin:-400px 0 0 0px;
color:#9dcb3a;
	
	
}

.footer {
	

width:320px;
height:100px;
float:left;
background-color:#9dcb3a;
margin:130px 0 0 0px;
color:#fff;
	
}

}

@media screen and (min-width: 480px) {

/*.background {
	background:url(../img/1280.jpg)  no-repeat left top;
	background-color:#fff;
	
}*/

.center
			{
			width:480px; 
			height:730px; 
			margin:0 auto; 
			padding:30px 40px 20px; 
			position:relative; 
			
			}
			
			
.top{
	
	width:480px; 
	height:100px; 
    margin:0 0 0 0px;
    position:relative; 
					
}
.logo{
	
			width:310px;
			height:70px; 
			margin:0 auto; 
			position:relative; 
			float:left;
			font: 54px 'CalligraffitiRegular', Helvetica, Helvetica Neue, Arial, sans-serif;
			
}

.logo a:link, a:visited,a:hover, a:active {

text-decoration: none;
color:#9dcb3a;

}


			
			
	.menu{
    width: 100%;
	margin:0 0 0 -40px;
    background-color: #9dcb3a; }
	
	.menu ul{
    margin: 0; padding: 0;
    float: left;}
 
	.menu ul li{
    display: inline;}
 
	.menu ul li a{
    float: left; text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #9dcb3a; }
 
	.menu ul li a:visited{
    color: white;}
 
	.menu ul li a:hover, .menu ul li .current{
    color: #fff;
    background-color:#7faa21;}

	
	.myself {
	
	
	float:left;
	width:400px;
	height:400px;
	margin:30px 0 0 0;
	
}
.cartoon {
	
	width:200px;
	height:300px;
	display:none;
	
	
}

.personal-info {
	
float:left;
width:300px;
height:440px;
margin:0 0 0 -400px;
color:#9dcb3a;
	
	
}

.footer {
	

width:480px;
height:100px;
float:left;
background-color:#9dcb3a;
margin:130px 0 0 -40px;
color:#fff;
	
}


}


@media screen and (min-width: 768px) {

/*.background {
	background:url(../img/1280.jpg)  no-repeat left top;
	background-color:#fff;
	
}
*/
.center
			{
			width:940px; 
			height:730px; 
			margin:0 auto; 
			padding:30px 40px 20px; 
			position:relative; 
			
			}
			
			
.top{
	
	width:940px; 
	height:100px; 
    margin:0 0 0 0px;
    position:relative; 
					
}
.logo{
	
			width:310px;
			height:70px; 
			margin:0 auto; 
			position:relative; 
			float:left;
			font: 54px 'CalligraffitiRegular', Helvetica, Helvetica Neue, Arial, sans-serif;
			
}

.logo a:link, a:visited,a:hover, a:active {

text-decoration: none;
color:#fc8f76;

}


			
			
	.menu{
    width: 100%;
	margin:0 0 0 -40px;
    background-color: #fc8f76; }
	
	.menu ul{
    margin: 0; padding: 0;
    float: left;}
 
	.menu ul li{
    display: inline;}
 
	.menu ul li a{
    float: left; text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #fc8f76; }
 
	.menu ul li a:visited{
    color: white;}
 
	.menu ul li a:hover, .menu ul li .current{
    color: #fff;
    background-color:#3c81ad;}

	
	.myself {
	
	
	float:left;
	width:400px;
	height:400px;
	margin:30px 0 0 0;
	
}
.cartoon {
	
	width:200px;
	height:400px;
	display:block;
	
	
}

.personal-info {
	
float:left;
width:300px;
height:400px;
margin: 0 0 0 0px;
color:#fc8f76;
	
	
}

.footer {
	

width:1020px;
height:100px;
float:left;
background-color:#fc8f76;
margin:140px 0 0 -40px;
color:#fff;
	
}



}

@media screen and (min-width: 800px) {

/*.background {
	background:url(../img/1280.jpg)  no-repeat left top;
	background-color:#fff;
	
}*/

}


@media screen and (min-width: 980px) {

/*.background {
	background:url(../img/980.jpg)  no-repeat left top;
	background-color:#fff;
	
}*/

}

@media screen and (min-width: 1024px) {

/*.background {
	background:url(../img/1280.jpg)  no-repeat left top;
	background-color:#fff;
	
	
}*/

.center
			{
			width:940px; 
			height:730px; 
			margin:0 auto; 
			padding:30px 40px 20px; 
			position:relative; 
			
			}
			
			.top{
	
			width:940px; 
			height:100px; 
			margin:0 0 0 0px;
			position:relative; 
					
}
.logo{
	
			width:310px;
			height:70px; 
			margin:0 auto; 
			position:relative; 
			float:left;
			font: 54px 'CalligraffitiRegular', Helvetica, Helvetica Neue, Arial, sans-serif;
			
}

.logo a:link, a:visited,a:hover, a:active {

text-decoration: none;
color:#3c81ad;

}


			
			
	.menu{
    width: 1020px;
    background-color: #659ec2;
	
	 }
	
	.menu ul{
    margin: 0; padding: 0;
    float: left;}
 
	.menu ul li{
    display: inline;}
 
	.menu ul li a{
    float: left; text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #659ec2; }
 
	.menu ul li a:visited{
    color: white;}
 
	.menu ul li a:hover, .menu ul li .current{
    color: #fff;
    background-color:#3c81ad;}

	
	.myself {
	
	
	float:left;
	width:400px;
	height:400px;
	margin:30px 0 0 0;
	
}
.cartoon {
	
	width:200px;
	height:400px;
	
	
}

.personal-info {
	
float:left;
width:400px;
height:400p;
color:#3c81ad;
	
	
}

.footer {
	

width:1020px;
height:100px;
float:left;
background-color:#3c81ad;
margin:80px 0 0 -40px;
color:#fff;
	
}


}

@media screen and (min-width: 1280px) {

/*.background {
	background:url(../img/1280.jpg)  no-repeat left top;
	background-color:#fff;
	
	
}*/
.center
			{
			width:940px; 
			height:730px; 
			margin:0 auto; 
			padding:30px 40px 20px; 
			position:relative; 
			
			}
			
			.top{
	
			width:940px; 
			height:100px; 
			margin:0 0 0 0px;
			position:relative; 
					
}
.logo{
	
			width:310px;
			height:70px; 
			margin:0 auto; 
			position:relative; 
			float:left;
			font: 54px 'CalligraffitiRegular', Helvetica, Helvetica Neue, Arial, sans-serif;
			
}

.logo a:link, a:visited,a:hover, a:active {

text-decoration: none;
color:#9dcb3a;

}


			
			
	.menu{
    width: 100%;
    background-color: #e6ded3;
	
	 }
	
	.menu ul{
    margin: 0; padding: 0;
    float: left;}
 
	.menu ul li{
    display: inline;}
 
	.menu ul li a{
    float: left; text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #e6ded3; }
 
	.menu ul li a:visited{
    color: white;}
 
	.menu ul li a:hover, .menu ul li .current{
    color: #fff;
    background-color:#b5aaa1;}

	
	.myself {
	
	
	float:left;
	width:400px;
	height:400px;
	margin:30px 0 0 0;
	
}
.cartoon {
	
	width:200px;
	height:400px;
	
	
}

.personal-info {
	
float:left;
width:400px;
height:400p;
color:#847e78;
	
	
}

.footer {
	

width:1020px;
height:100px;
float:left;
background-color:#e6ded3;
margin:80px 0 0 -40px;
color:#847e78;
	
}

	

}
